<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <form action="/sign" method="post">
            <h1>Sign in</h1>
            <div class="login">
                <div class="username">
                    <label for="name">Name:</label>
                    <input type="text" name="username" placeholder="Enter Your Name" required autocomplete="off"/>
                </div>
                <div class="userpassword">
                    <label for="name">Password:</label>
                    <input type="password" name="userpassword" placeholder="Enter Your Password" required/>
                </div>
                    <button type="submit" id="submite">Sign in</button>
            </div>
        </form>
    </div>
    
</body>
</html>